<fieldset>
	{{ form.nickname.errors }}
    <label>{{form.nickname}}</label>
    {{ form.email.errors }}
    <label>{{form.email}}</label>
    {{ form.content.errors }}
    {{form.content}}
    {{ form.code.errors }}
    <div><img id="codeImg" src="/code/" title="看不清,换一张" style="cursor:pointer;" onclick="changeCode();"/>{{form.code}}</div>
    <div class="buttons">
        <a href="javascript:void(0);" class="button button-flat-primary" onClick="document.getElementById('contact-form').reset();">清除</a>
        <a href="javascript:void(0);" class="button button-flat-primary" onClick="document.getElementById('contact-form').submit();">发送</a>
    </div>								
    <script>
    	function changeCode() {
    		document.getElementById('codeImg').src = '/code?' + new Date().getTime();
    	}
    	{% if form.errors %}
		window.location.hash = '#contact-form';
		{% endif %}
    </script>			
</fieldset>        